
*{
  margin: 0;
  padding: 0;
}

body{
  height: max-content;
}

.main-content {
    justify-content: center;
}

.div1{
  display: flex;
  justify-content: center;
  align-items: center;
  .staff-info{
    padding: 150px 200px;
  }
  .sales-report{
    padding: 150px 170px;
  }
}

.div2{
  margin-left: 20px ;
  a{
    text-decoration: none;
  }
  .box1{
    padding: 65px 100px;
  }

  .box2{
    padding: 65px 135px;
  }
  .book-manage, .order-manage{
    margin-bottom: 20px ;
    color: black;
  }
}

.bottom{
  margin: 20px 0;
}

.dashboard {
  background: #fdfcf0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
