.main-content {
    padding: 20px 150px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* trái rộng hơn */
  grid-template-rows: repeat(4, 1fr); /* 4 hàng đều nhau */
  gap: 15px;
  height: 80vh; /* cho nó full màn hình */
}

.dashboard-box {
  background: #fdfcf0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gán vị trí */
.staff-info    { grid-column: 1; grid-row: 1 / span 2; }   /* chiếm 2 hàng */
.sales-report  { grid-column: 1; grid-row: 3 / span 2; max-width: 80%; }   /* chiếm 2 hàng */
.book-manage   { grid-column: 2; grid-row: 1; }
.category-man  { grid-column: 2; grid-row: 2; }
.order-manage   { grid-column: 2; grid-row: 3; }
.total-order    { grid-column: 2; grid-row: 3; }

.order-manage,
.total-order {
  width: 48%; /* chia đôi */
  justify-self: center;
}

.order-manage { justify-self: start; }
.total-order  { justify-self: end; }


