.content {
    flex: 1;
    background: #faf9ea;
    justify-content: center;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100vw - 400px);
    transition: width 0.3s ease;
}

.order-header{
    background-color: #a10d25;
    padding: 10px 20px;
    display: flex;
    color: rgb(245, 225, 225);
    justify-content: space-between;
}

.table-container {
    width: 100vw;
    min-height: 100vh;
    overflow-x: auto;
    background: #faf9ea;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    background: #faf9ea;
    table-layout: fixed;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-btn {
    display: flex;
    padding: 12px 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    gap: 20px;
}

.delete-btn {
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.edit-btn {
    color: black;
}