.section {
    font-size: 50px;
    justify-content: center;
    text-align: center;
    color: #faf9ea;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 6px;
}

.book-section {
    margin-bottom: 3rem;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    color: #555;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ccc;
    display: inline-block; /* Để đường gạch chân chỉ vừa đủ chữ */
    padding-bottom: 0.5rem;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr)); /* Tự động chia cột linh hoạt */
    gap: 1.5rem; /* Khoảng cách giữa các item */
    justify-content: center; /* Căn giữa các item nếu không đủ lấp đầy hàng */
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.book-item {
    background-color: #faf9ea;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    display: flex;              /* flex container */
    flex-direction: column;     /* sắp xếp theo cột */
    justify-content: space-between; /* chia trên - dưới */
}

.book-item:hover {
    transform: translateY(-5px); /* Nâng nhẹ lên khi hover */
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.book-item img {
    max-width: 100%;
    height: 200px; /* Chiều cao cố định cho ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    border-radius: 4px;
    margin-bottom: 1rem;
}

.book-title {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Giới hạn 1 dòng */
    -webkit-box-orient: vertical;
    text-align: left;
}

.search-text {
    padding: 80px 50px 60px;
    color: #faf9ea;
    font-size: 40px;
}

.book-author {
    text-align: left;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.8rem;
}

.book-price {
    text-align: left;
    font-size: 1.2rem;
    color: #ca122f; 
    font-weight: bold;
    margin-bottom: 1rem;
}

.discounted-price {
    text-align: left;
    font-size: 1.2rem;
    color: #ca122f; 
    font-weight: bold;
    margin-bottom: 1rem;
}

.original-price {
    transform: translateY(-15px);
    text-align: left;
    font-size: 1.2rem;
    color: #8b8888; 
    font-weight: bold;
    text-decoration: line-through;
    font-size: 16px;
    margin-bottom: 1rem;
}

.btn-view-detail {
    display: inline-block;
    margin-top: 10px;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}

.btn-buy-now {
    margin-top: auto;
    padding: 0.4rem 0.8rem;
    height: 35px;
    width: 200px;            
    border-radius: 15px;
    background-color: #ca122f;
    color: #faf9ea;
    text-decoration: none;
    font-size: 0.85rem;      
    transition: background-color 0.2s ease;
    align-self: center;       
    border: none;
}
