.login-message {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.login-message.show {
  opacity: 1;
}

.create-user-message {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.create-user-message.show {
  opacity: 1;
}

.edit-user-message {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.edit-user-message.show {
  opacity: 1;
}

.delete-user-message {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.delete-user-message.show {
  opacity: 1;
}

.register-message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.register-message.show {
    opacity: 1;
}

.error-box {
    padding-top: 15px;
    color: #ca122f;
}

.add-book-message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.add-book-message.show {
    opacity: 1;
}

.edit-book-message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.edit-book-message.show {
    opacity: 1;
}

.delete-book-message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.delete-book-message.show {
    opacity: 1;
}

.add-category-message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.add-category-message.show {
    opacity: 1;
}

.delete-category-message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.delete-category-message.show {
    opacity: 1;
}

.edit-category-message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.edit-category-message.show {
    opacity: 1;
}