html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-content {
    background-color: #ca122f;
    flex: 1;
    padding-top: 100px;
}

.login-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #faf9ea;
    color: black;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.login-message.show {
    opacity: 1;
}
