html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Pháº§n footer */
.footer {
    background-color: #faf9ea; /* footer be */
    color: #111014;
    text-align: left;
    padding: 20px;
    border-top: 1px solid #ddd;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
}

footer .footer-container hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.3); 
    margin-bottom: 15px;
    width: 80%; 
}

footer p {
    margin: 5px 0;
    opacity: 0.8;
}

.bottom {
    list-style: none;
    display: flex;
    gap: 20px;
    background: #faf9ea;
    padding: 10px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.bottom p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.bottom li {
    margin-top: 15px;
    margin-bottom: 20px;
    a{
        text-decoration: none;
    }
}