/*Phần header */
.nav-menu a {
    color: #faf9ea;
    text-decoration: 1px underline;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 100px;
    background-color: #111014;
    color: #faf9ea;
    font-size: 20px;
}

.nav-left, .nav-right {
    display: flex;
    gap: 50px;
}
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdown button {
    background-color: #111014;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Dropdown content */
.dropdown .category-content {
    display: none;
    position: absolute;
    background-color: #faf9ea;
    min-width: 100px;
    top: 100%; /* Đặt menu ngay dưới nút */
    left: 0; /* Căn trái menu với nút */
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown a:hover {
    background-color: #ca122f;
}

/* Hiển thị menu khi hover */
.dropdown:hover .category-content {
    display: block;
}

.nav-menu a{
    text-decoration: none;
}
