.page-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #ca122f;
    color: #faf9ea;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.pagination a:hover {
    background: black;
    color: #fff;
}
